:root {
    /* Color */
    --color-header: #E17F7F;
    --color-footer : #FFF7F7;
    --color-footer-font : #868686;
    --color-icon : #6F6868;
    --color-button : #D9D9D9;

    /* Image Size */
    --icon-size: 2rem;

    /* Font Size */
    --font-xlarge: 13rem;
    --font-large: 5rem;
    --font-medium: 4rem;
    --font-small: 2rem;
    --font-micro: 1.5rem;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    font-size : 0.8vw;
    /*font-size: var(--font-medium);*/
    transition: all 0.5s;
}

html {
    height : 100vh;
    font-size: 62.5%;
}

body {
    height : 100vh;
    display : flex;
    justify-content: center;
    align-items: center;
}

i {
    width : var(--icon-size);
    height : var(--icon-size);
}

.layout {
    width : 80vw;
    height : 80vh;
    margin-bottom : 10vh;
}

.caseManagerLayout {
    margin-top : 1rem;
}

button {
    width : 80px;
}

.header {
    /* color : var(--color-header); */
    font-weight: bold;
    display : flex;
    height : 15vh;
    width : 100%;
    justify-content: center;
    align-items: center;
    margin-bottom : 5rem;
}

.head {
    display : flex;
    width : 100%;
    justify-content: space-between;
    height : 9vh;
}
.head > div {
    border-right : 1px solid darkgrey;
    border-bottom : 1px solid darkgrey;
    width : 100%;
    padding : 1rem;
    display : flex;
    align-items: center;
    overflow: hidden;
}

.head2 {
    display : flex;
    width : 100%;
    justify-content: space-between;
    height : 4vh;
}
.head2 > div {
    border-right : 1px solid darkgrey;
    border-bottom : 1px solid darkgrey;
    width : 100%;
    padding : 1rem;
    display : flex;
    align-items: center;
    overflow: hidden;
}

.head3 {
    border-right : 1px solid darkgrey;
    border-bottom : 1px solid darkgrey;
    width : 100%;
    padding : 1rem;
    height : 3vh;
    display: flex;
    align-items: center;
}

.head4 {
    border-right : 1px solid darkgrey;
    border-bottom : 1px solid darkgrey;
    width : 100%;
    padding : 1rem;
    overflow: auto;
    height : 12vh;
}

.head5, .head7, .head9, .head11 {
    border-right : 1px solid darkgrey;
    border-bottom : 1px solid darkgrey;
    width : 100%;
    padding : 1rem;
    height : 3vh;
    display: flex;
    align-items: center;
}

.head6 {
    border-right : 1px solid darkgrey;
    border-bottom : 1px solid darkgrey;
    width : 100%;
    padding : 1rem;
    overflow: auto;
    height : 7vh;
}

.head8, .head10 {
    border-right : 1px solid darkgrey;
    border-bottom : 1px solid darkgrey;
    width : 100%;
    padding : 1rem;
    overflow: auto;
    height : 6vh;
}

.head12 {
    width : 100%;
    padding : 1rem;
    overflow: auto;
    height : 6vh;
}


.logo {
    font-size : 8vw;
    color: transparent;
    background: linear-gradient(to right, var(--color-header), #ecddddf8);
    -webkit-background-clip: text;
    margin-left : 0.5em;
}

i {
    color : rgb(194, 177, 177);
}

.caseManagerLayout {
    height: 65vh;
    width : 80vw;
    border : 0.5px solid darkgrey;
    font-size : 2vw;
}



.footerName {
    position : absolute;
    left : 3rem;
    bottom : 3rem;
    font-size : var(--font-micro);
}


@media screen and (max-width : 1000px){
    .header {
        margin-bottom : 0;
        padding-top : 4rem;
    }

    .logo {
        font-size : var(--font-large);
    }

    .caseManagerTitle, .caseEx {
        font-size : var(--font-micro);
    }

    .caseButtons {
        gap : 0.5em;
        margin-right : 1em;
    }
}