<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- 타이틀 및 로고 설정  -->
  <title>판례 유사도 검색 사이트</title>
  <link rel="shortcut icon" type="image/x-icon" href="../images/logo.png">

  <!-- css 파일 및 폰트 설정-->
  <link rel="stylesheet" href="../css/detailPage.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/cef62898c2.js" crossorigin="anonymous"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
  <div class = "layout">
    <!-- 로고 및 아이콘 -->
    <div class = "header">
      <div class = "logo">Cases</div>
      <div><img class = "icon" src="../images/icon.jpg" style = "width : 8vw;" alt=""></div>
      <!-- <div class = "icon"><i class="fa-solid fa-face-smile-wink"></i></div> -->
      <!-- <i class="fa-solid fa-scale-balanced"></i> -->
    </div>

    <button type="button" class="btn btn-secondary">이전으로</button>

    <!-- 케이스 매니저 -->

    <div class = "caseManagerLayout">
      <div class = "head">
      </div>
      <div class = "head2">

      </div>

      <div class = "head3">판례 내용</div>
      <div class = "head4"></div>
      <div class = "head5">판결 요지</div>
      <div class = "head6"></div>
      <div class = "head7">참조 판례</div>
      <div class = "head8"></div>
      <div class = "head9">참조 조문</div>
      <div class = "head10"></div>
      <div class = "head11">판시 사항</div>
      <div class = "head12"></div>
    </div>

  </div>

  <div class = "footerName">송영준 박지성 윤희진 박수연 강지석</div>
  <script defer src = "./controller/detail.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
</body>
</html>