<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- 타이틀 및 로고 설정  -->
  <title>판례 유사도 검색 사이트</title>
  <link rel="shortcut icon" type="image/x-icon" href="../images/logo.png">

  <!-- css 파일 및 폰트 설정-->
  <link rel="stylesheet" href="../css/detailPage.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/cef62898c2.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class = "layout">
    <!-- 로고 및 아이콘 -->
    <div class = "header">
      <div class = "logo">Cases</div>
      <div><img class = "icon" src="../images/icon.jpg" style = "width : 8vw;" alt=""></div>
      <!-- <div class = "icon"><i class="fa-solid fa-face-smile-wink"></i></div> -->
      <!-- <i class="fa-solid fa-scale-balanced"></i> -->
    </div>

    <!-- 케이스 매니저 -->

    <div class = "caseManagerLayout">

    </div>

  </div>

  <div class = "footerName">송영준 박지성 윤희진 박수연 강지석</div>
  <script defer src = "./controller/detail.js"></script>
</body>
</html>