<!DOCTYPE html>
<html>
  
<head>
    <title>FILE UPLOAD</title>
</head>
  
<body>
    <h1>cases</h1>

    <form method='POST' action='/upload'
    enctype="multipart/form-data" method="POST">
    <table>
        <tr>
          <th>Category</th>
          <th></th>
        </tr>
        <% Incidents.forEach((Incident) => { %>
        <tr>
          <td>
            <input
              type='checkbox'
              name='checked[]'
              value='<%= Incident.id %>'
            />
          </td>
          <td>
            <input type='text' value='<%= Incident.id %>' />
          </td>
          <td><%= Incident.name %></td>
        </tr>
        <% }) %>
      </table>
      <span>Loaded file name:</span>
      <input type="file" name="case" required/> <br>
      <input type="submit" value="submit"> 
    </form>


</body>
  
</html>