<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8" />
    <title>File Uploads with Multer</title>
  </head>

  <body>
    <h2>Cases</h2>

    <form action="/upload" enctype="multipart/form-data" method="POST">

      <table>
        <tr>
          <th>Category</th>
           <input type="checkbox" id="selectedcivil"    name="categoty[]" value="민사"/> 민사
        <input type="checkbox" id="selecteddetctive"   name="categoty[]" value="형사"/> 형사
        <input type="checkbox" id="selectedlyrics" name="categoty[]" value="가사"/> 가사
        <input type="checkbox" id="selectedadminstrative"  name="categoty[]" value="행정"/> 행정
      <input type="checkbox" id="selectedpatent" name="categoty[]" value="특허"/> 특허
        <input type="checkbox" id="selectedtax"  name="categoty[]" value="세무"/> 세무
     
          
        </tr>
       
      </table>

      <label for="case">Single Text File:</label>
      <input type="file" name="case" accept=".txt"/> <br /><br />
      <input type="submit" value="Submit" />
    </form>

  </body>

</html>