<!doctype html>
<html lang="ko">
    <body>
      <form action="/save" method="post">
        <input type="text" name="inputincidentTitle" placeholder="사건제목" /> <br>
        <button id="clear">clear</button>
        <input type="submit"  value="Save"><br>
        <textarea placeholder="사건내용" name="inputincidentText"></textarea><br>
          </form>
</html>

